//-
  Google Tag Manager
  
  Google Tag Manager is a tag management system offered by Google to manage
  HTML and JavaScript tags needed by various tracking and analytics vendors
  (both Google and otherwise).
  
  This mixin uses gtm.js.
  
  References:
    [Google Tag Manager](https://developers.google.com/tag-manager/)
//-
mixin google-tag-manager(containerID)
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','#{containerID}');
mixin google-tag-manager-noscript(containerID)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=' + containerID, height='0', width='0', style='display:none;visibility:hidden;')
