.api .contents h3
  color white

/*
.api h1.title
  font-size: 16px
  font-weight: 600
  margin-top: 0
  padding: 20px
  +breakpoint("desktop")
    padding: 0 0 0 30px
*/

.api nav
  padding: 20px
  margin-top: 20px
  +breakpoint("tablet")
    margin-top: 0
  +breakpoint("desktop")
    display: block
    float: left // [1]
    box-sizing: border-box
    width: 20%
    min-height: 1px
    padding: 0 0 0 30px
    background-color transparent

  h2
    font-size: 16px
    font-weight: 600
    margin-top: 0
    
  h3
    font-size: 16px
    margin-top: 0
    margin-bottom: 0
    
  h4
    font-size: 12px
    font-style: italic
    margin-top: 0
    margin-bottom: 0
    padding-left: 4px

  ul
    margin: 0
    x-padding-left: 18px // [6]
    +breakpoint("desktop")
      padding-left: 4px

  li
    margin: 0
    x-font-size: 14px
    list-style: none // TODO: Make this generic to an nav element?
    x-line-height: 2.5
    +breakpoint("desktop")
      x-line-height: 1.9
    a
      x-font-size: 14px
      color: rgba(white,.8)
      &:hover, &.active
        +breakpoint("desktop")
          color: blue

.api .name, .api .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}
