.chapter
  max-width 840px
  width 100%
  padding 0 20px
  margin 20px 0 0
  position relative
  box-sizing border-box
  +breakpoint("tablet")
    float left
  +breakpoint("desktop")
    margin 0
    width 70%

  & > section
    margin-bottom 80px

.toc
  padding 20px
  margin-top 87px
  +breakpoint("tablet")
    margin-top 0
  +breakpoint("desktop")
    background-color transparent
    width 20%
    min-height 1px
    padding 0
    margin-left 50px
    float left
    display block

    -webkit-animation: fadeInLeft .4s ease-in-out
    animation: fadeInLeft .4s ease-in-out

  ul
    padding-left 18px
    +breakpoint("desktop")
      padding-left 0

  li
    line-height 2.5
    +breakpoint("desktop")
      line-height 1.9
    a
      color rgba(white,.8)
      font-size 14px
      &:hover, &.active
        +breakpoint("desktop")
          color blue

  h5
    margin 0
    font-weight normal
    font-size 14px
    color #f1f1f1
    font-weight bold
    text-transform uppercase
    letter-spacing 1px
    font-size 11px
    line-height 4
    +breakpoint("desktop")
      line-height 2.8
      margin-top 10px

    a
      display none
      +breakpoint("desktop")
        display block
        position absolute
        width 100%
        height 25px

    i
      display inline-block
      margin-right 5px
      transition transform .3s ease-in-out
      +breakpoint("desktop")
        display none

  [data-accordion]
    [data-control]
      position relative
    [data-content]
      +breakpoint("desktop")
        @media screen and ( min-height: 751px )
          max-height 100%!important
          overflow visible!important

  .accordion
    &:first-child
      h5
        margin-top 0
    &.open
      i
        -webkit-transform rotate(90deg) translateX(5px)
        transform rotate(90deg) translateY(5px)

  nav
    -webkit-transition padding .5s
    transition padding .5s
    &.fixed
      +breakpoint("desktop")
        position fixed
        top 0
        padding-top 20px
        z-index 99

  +breakpoint("desktop")
    @media screen and ( max-height: 750px )
      [data-accordion]
        [data-content]
          //max-height 0px!important
          //overflow hidden!important
          -webkit-transition none!important
          transition none!important
          &.active
            max-height 100%!important
            overflow visible!important
            -webkit-transition none!important
            transition none!important
