/* ==========================================================================
   Book
  
   These styles are used when displaying documents that are structured as a
   book, with a table of contents and sequence of chapters.
   ========================================================================== */


.contents
  max-width 840px
  width 100%
  padding 0 30px 0 20px
  position relative
  box-sizing border-box
  +breakpoint("tablet")
    float left
  +breakpoint("desktop")
    margin 0
    box-sizing: border-box
    width 80%

  & > section
    margin-bottom 80px

/**
 * Table of Contents
 *
 * The table of contents displays the parts, chapters, and subchapters within
 * the book.
 *
 * 1. On desktop device, float the entire table of contents to the left where
 *    it will be displayed alongside the contents.
 * 2. On desktop devices, hide the arrow icon next to the part name in order to
 *    narrow the amount of space required for the table of contents.
 * 3. Set 18 pixels of left padding, so that the chapter names site below the
 *    part names, which are indented due to an arrow icon being displayed next
 *    to them.
 *
 * Example HTML:
 *
 * <nav class="toc">
 *   <h5>Social</h5>
 *   <ul>
 *     <li><a href="/docs/facebook/">Facebook</a></li>
 *     <li><a href="/docs/twitter/">Twitter</a></li>
 *   </ul>
 *   <h5>Federated</h5>
 *   <ul>
 *     <li><a href="/docs/openid-connect/">OpenID Connect</a></li>
 *     <li><a href="/docs/saml/">SAML</a></li>
 *   </ul>
 * </div>
 */
.toc
  padding: 20px
  margin-top: 20px
  +breakpoint("tablet")
    margin-top: 0
  +breakpoint("desktop")
    display: block
    float: left // [1]
    box-sizing: border-box
    width: 20%
    min-height: 1px
    padding: 0 0 0 30px
    background-color transparent
    -webkit-animation: fadeInLeft .4s ease-in-out
    animation: fadeInLeft .4s ease-in-out

  h5
    margin: 0
    text-transform: uppercase
    font-size: 11px
    font-weight: bold
    line-height: 4
    letter-spacing: 1px
    color: #f1f1f1
    +breakpoint("desktop")
      margin-top: 10px
      line-height: 2.8
    a
      display: none
      +breakpoint("desktop")
        position: absolute
        display: block
        width: 100%
        height: 25px
    i
      display: inline-block
      margin-right: 5px
      transition: transform .3s ease-in-out
      +breakpoint("desktop")
        display: none // [2]

  ul
    padding-left: 18px // [3]
    +breakpoint("desktop")
      padding-left: 0

  li
    line-height: 2.5
    +breakpoint("desktop")
      line-height: 1.9
    a
      font-size: 14px
      color: rgba(white,.8)
      &:hover, &.active
        +breakpoint("desktop")
          color: blue

  [data-accordion]
    [data-control]
      position relative
    [data-content]
      +breakpoint("desktop")
        @media screen and ( min-height: 751px )
          max-height 100%!important
          overflow visible!important

  .accordion
    &:first-child
      h5
        margin-top 0
    &.open
      i
        -webkit-transform rotate(90deg) translateX(5px)
        transform rotate(90deg) translateY(5px)

  nav
    -webkit-transition padding .5s
    transition padding .5s
    &.fixed
      +breakpoint("desktop")
        position fixed
        top 0
        padding-top 20px
        z-index 99

  +breakpoint("desktop")
    @media screen and ( max-height: 750px )
      [data-accordion]
        [data-content]
          //max-height 0px!important
          //overflow hidden!important
          -webkit-transition none!important
          transition none!important
          &.active
            max-height 100%!important
            overflow visible!important
            -webkit-transition none!important
            transition none!important
