.docs
  .intro
    max-width 840px
    width 100%
    text-align center
    margin 0 auto
    padding 0 20px

    h1
      padding: 0
      margin: 0 0 40px
      font-size: 30px
      font-weight: 400
      line-height: 1
      +breakpoint("tablet")
        margin-bottom: 20px
        font-size: 50px
        
    p
      margin: 0
      padding: 0
      color: rgba(255,255,255,.8)
      line-height 1.8
    
  section
    div
      vertical-align: top

  p
    display: inline-block
    width: 60%
    margin: 0 30px 0 0
    vertical-align: top
  
  ul
    display: inline-block
    width: 35%
    list-style: square
    
  // https://feathericons.com/?query=book
  li
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-book'%3E%3Cpath d='M4 19.5A2.5 2.5 0 0 1 6.5 17H20'%3E%3C/path%3E%3Cpath d='M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z'%3E%3C/path%3E%3C/svg%3E")
    font-weight: bold
