/**
 * Features component.
 *
 * This component is used to display a list of features.
 *
 * Example HTML:
 *
 * <div class="features">
 *   <ul>
 *     <li class="item-1">
 *       <i class="icon-budicon-285"></i>
 *       <p>300+ authentication strategies</p>
 *     </li>
 *   </ul>
 * </div>
 */

.features
  max-width: 890px
  padding: 0 20px
  margin: 0 auto
  text-align: center
  overflow: hidden

  h1
    padding: 0
    margin: 0 0 40px
    font-size: 30px
    font-weight: 400
    line-height: 1
    color: yellow
    +breakpoint("tablet")
      margin-bottom: 60px
      font-size: 50px

  ul
    text-align: center;
    +breakpoint("desktop")
      padding-left: 30px

  li
    display: block
    padding: 10px
    border-radius: 3px
    background-color: yellow
    margin: auto
    margin-bottom: 20px
    text-align: center
    color: black
    overflow: hidden
    +breakpoint("tablet")
      display: inline-block
      width: 400px
    +breakpoint("desktop")
      padding: 0
      margin-right: 30px

    i
      display: inline-block
      margin-top: 10px
      text-align: center
      vertical-align: middle
      font-size: 20px
      +breakpoint("tablet")
        float: left
        width: 80px
        height: 80px
        margin: 0
        font-size: 28px
        line-height: 3.3
        background: rgba(0,0,0,.2)

    p
      display: block
      margin: 0
      margin-bottom: 0px
      font-size: 14px
      font-weight: 500
      color: black
      +breakpoint("tablet")
        float: left
        padding-top: 26px
        padding-left: 20px
        font-size: 16px

  .item-1
    background-color: #35DF79

  .item-2
    background-color: #42E26F

  .item-3
    background-color: #62E858

  .item-4
    background-color: #6CE94F

  .item-5
    background-color: #7DED43

  .item-5
    background-color: #8DF038

  .item-6
    background-color: #A1F328

  .item-7
    background-color: #B4F71B

  .item-8
    background-color: #D3FD03

  .item-9
    background-color: lighten(#D3FD03, 20%)

  dl
    display: grid
    box-sizing: border-box
    column-gap: 32px
    row-gap: 64px
    grid-template-columns: repeat(2, minmax(0, 1fr))
    text-align: left

  div.feature
    display: block
    border: 1px solid red
    box-sizing: border-box
    position: relative
    padding-left: 64px
    
  dt
    display: block
    border: 1px solid blue
    box-sizing: border-box
  
    div
      align-items: center
      box-sizing: border-box
      justify-content: center
      display: flex
      position: absolute
      top: 0
      left: 0
      border: 1px solid green
      height: 40px
      width: 40px
    
      i
        display: block
      
    dd
      display: block
      border: 1px solid yellow
      box-sizing: border-box
      margin: 8px 0 0 0

