// package component

.package
  .description
    padding: 0 20px

  .metadata
    abbr
      text-decoration: none
    code
      font-family: Menlo, Courier New
      font-size: 12px
      white-space: nowrap
    
    ul
      margin: 30px auto
    li
      overflow: hidden
      border-bottom: 1px solid #444
      line-height: 2.2
      text-overflow: ellipsis
      white-space: nowrap
    li:last-child
      border-bottom: none

    .version
      font-weight: bold
    .install
      padding-left: 22px
      background url(../../images/ico_download.svg) no-repeat 0 -22px

