/**
 * Window component.
 *
 * This creates a window that appears visually similar to window within a
 * windowing system of a graphical user interface (GUI).  The window has
 * conventional decorations, including a title bar with maximize, minimize, and
 * close buttons.
 *
 * Example HTML:
 *
 * <div class="window">
 *   <div class="window-titlebar">
 *     <i class="close"/>
 *     <i class="min"/>
 *     <i class="max"/>
 *     <span>bash</span>
 *   </div>
 *   <div class="window-content">
 *   </div>
 * </div>
 */

.window
  border-radius 3px
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  background #eee
  overflow hidden
  .window-toolbar
    background white
    border-bottom 1px solid #f1f1f1
    padding 0 4px
    overflow hidden
    i
      background red
      width 12px
      height 12px
      display inline-block
      border-radius 100px
      float left
      margin 9px 8px 0 10px
      margin-right 0

      &.red
        background-color #FF5F57
      &.yellow
        background-color #FFBD2E
      &.green
        background-color #2ACE42

    span
      text-align center
      max-width 150px
      margin auto
      display block
      font-family Menlo, Courier New
      font-size 12px
      color #444F5E
  .window-content
    font-family Menlo, Courier New
    color #333
    font-size 12px
    padding 20px
    +breakpoint("tablet")
      font-size 14px
    p
      margin 0


.home .window
  max-width 330px
  margin-bottom 30px
  box-sizing border-box
  margin 0 auto
  +breakpoint("tablet")
    max-width 500px
    margin-bottom 0
    -webkit-transform translateY(180px)
    transform translateY(210px)
  +breakpoint("desktop")
    -webkit-transform translateY(180px)
    transform translateY(180px)

  .window-content
    +breakpoint("tablet")
      padding-top 40px
      padding-bottom 40px
  p
    margin 0
    text-align left
