<ul class="unstyled">
  <li><a href="/guide/">Overview</a></li>
  <li><a href="/guide/authenticate/">Authenticate</a></li>
  <li><a href="/guide/configure/">Configure</a></li>
  <li><strong><a href="/guide/providers/">Providers</a></strong></li>
  <ul>
    <li><a href="/guide/providers/username-password/">Username &amp; Password</a></li>
    <li><a href="/guide/providers/openid/">OpenID</a></li>
    <li><a href="/guide/providers/oauth/">OAuth</a></li>
    <li><a href="/guide/providers/facebook/">Facebook</a></li>
    <li><a href="/guide/providers/twitter/">Twitter</a></li>
    <li><a href="/guide/providers/google/">Google</a></li>
  </ul>
  <li><strong>Operations</strong></li>
  <ul>
    <li><a href="/guide/login/">Log In</a></li>
    <li><a href="/guide/logout/">Log Out</a></li>
    <li><a href="/guide/authorize/">Authorize</a></li>
  </ul>
  <li><a href="/guide/profile/">User Profile</a></li>
</ul>
