<ul class="unstyled">
  <li><a href="/guide/">Overview</a></li>
  <li><a href="/guide/authenticate/">Authenticate</a></li>
  <li><a href="/guide/configure/">Configure</a></li>
  <li><a href="/guide/username-password/">Username &amp; Password</a></li>
  <li><a href="/guide/openid/">OpenID</a></li>
  <li><a href="/guide/oauth/">OAuth</a></li>
  <li><strong>Providers</strong></li>
  <ul>
    <li><a href="/guide/facebook/">Facebook</a></li>
    <li><a href="/guide/twitter/">Twitter</a></li>
    <li><a href="/guide/google/">Google</a></li>
    <li><a href="/guide/providers/">Other</a></li>
  </ul>
  <li><strong>Operations</strong></li>
  <ul>
    <li><a href="/guide/login/">Log In</a></li>
    <li><a href="/guide/logout/">Log Out</a></li>
    <li><a href="/guide/authorize/">Authorize</a></li>
  </ul>
  <li><a href="/guide/profile/">User Profile</a></li>
</ul>
