extends layout

include mixins

block content
  .main-hold
    .top-site
      .search
        form(action='#')
          input(type='text', placeholder='Search for Strategies')
          button(type='submit')

      .social
        ul
          li.twitter
            a(href='http://twitter.com/passportjs', target='_blank')
          li.git
            a(href='http://github.com/jaredhanson/passport', target='_blank')
              span.stat 0
          li.auth0
            a(href='http://auth0.com', target='_blank')
              img(src='images/supported_logo.svg', alt='')

    nav#menu
      a#logo(href='/', title='JH') by Jared Hanson
      .menu-trigger
        span
      .menu-hold
        ul
          li
            a(href='/') Home
          li.active
            a(href='docs') Documentation
          li
            a(href='/') Strategies

    .content
      nav.sub-menu
        ul
          li
            a(href='#overview', data='scroll-to') Overview
          li
            a(href='#authenticate', data='scroll-to') Authenticate
          li
            a(href='#configure', data='scroll-to') Configure
          li
            a(href='#username-password', data='scroll-to') Username & Password
          li
            a(href='#openid', data='scroll-to') OpenID
          li
            a(href='#oauth', data='scroll-to') OAuth
          li
            h5 Providers
            ul
              li
                a(href='#facebook', data='scroll-to') Facebook
              li
                a(href='#twitter', data='scroll-to') Twitter
              li
                a(href='#google', data='scroll-to') Google
              li
                a(href='#') Other
          li
            h5 APIs
            ul
              li
                a(href='#basic-digest', data='scroll-to') Basic & Digest
              li
                a(href='#oauth-api', data='scroll-to') OAuth
              li
                a(href='#oauth2-api', data='scroll-to') OAuth 2.0
              li
                a(href='#other-api', data='scroll-to') Other
          li
            h5 Operations
            ul
              li
                a(href='#login', data='scroll-to') Log In
              li
                a(href='#logout', data='scroll-to') Log Out
              li
                a(href='#authorize', data='scroll-to') Authorize
              li
                a(href='#profile', data='scroll-to') User Profile

      .entry
        #overview
          include:markdown docs/overview.md
        #authenticate
          include:markdown docs/authenticate.md
        #configure
          include:markdown docs/configure.md
        #username-password
          include:markdown docs/username-password.md
        #openid
          include:markdown docs/openid.md
        #oauth
          include:markdown docs/oauth.md
        #facebook
          include:markdown docs/facebook.md
        #twitter
          include:markdown docs/twitter.md
        #google
          include:markdown docs/google.md
        #basic-digest
          include:markdown docs/basic-digest.md
        #oauth-api
          include:markdown docs/oauth-api.md
        #oauth2-api
          include:markdown docs/oauth2-api.md
        #other-api
          include:markdown docs/other-api.md
        #login
          include:markdown docs/login.md
        #logout
          include:markdown docs/logout.md
        #authorize
          include:markdown docs/authorize.md
        #profile
          include:markdown docs/profile.md

  .search-con
    .head
      span.close-ico
      .hold
        h2 SEARCH FOR STRATEGIES
        form(action='#')
          .input
          span.autocomplete
          input(value='', type='text')
        p.info-line 110 STRATEGIES
    .con-line
    .results
      section
