extends layout

include mixins

block content
  nav#menu
    a#logo(href='/', title='JH') by Jared Hanson
    .menu-trigger
      span
    .menu-hold
      ul
        li
          a(href='/') Home
        li.active
          a(href='docs') Documentation
        li
          a(href='features') Features
        li
          a(href='/', data-search='') Strategies

  .content
    .entry
      .sub-menu
        nav
          ul
            li
              a(href='#overview').active Overview
            li
              a(href='#authenticate') Authenticate
            li
              a(href='#configure') Configure
            li
              a(href='#username-password') Username & Password
            li
              a(href='#openid') OpenID
            li
              a(href='#oauth') OAuth
            li
              h5(data-control='') Providers
              ul
                li
                  a(href='#facebook') Facebook
                li
                  a(href='#twitter') Twitter
                li
                  a(href='#google') Google
                li
                  a(href='/', data-search='') Other
            li
              h5(data-control='') APIs
              ul
                li
                  a(href='#basic-digest') Basic & Digest
                li
                  a(href='#oauth-api') OAuth
                li
                  a(href='#oauth2-api') OAuth 2.0
                li
                  a(href='#other-api') Other
            li
              h5(data-control='') Operations
              ul
                li
                  a(href='#login') Log In
                li
                  a(href='#logout') Log Out
                li
                  a(href='#authorize') Authorize
                li
                  a(href='#profile') User Profile

      .guides
        section#overview
          include:markdown docs/overview.md
        section#authenticate
          include:markdown docs/authenticate.md
        section#configure
          include:markdown docs/configure.md
        section#username-password
          include:markdown docs/username-password.md
        section#openid
          include:markdown docs/openid.md
        section#oauth
          include:markdown docs/oauth.md
        section#facebook
          include:markdown docs/facebook.md
        section#twitter
          include:markdown docs/twitter.md
        section#google
          include:markdown docs/google.md
        section#basic-digest
          include:markdown docs/basic-digest.md
        section#oauth-api
          include:markdown docs/oauth-api.md
        section#oauth2-api
          include:markdown docs/oauth2-api.md
        section#other-api
          include:markdown docs/other-api.md
        section#login
          include:markdown docs/login.md
        section#logout
          include:markdown docs/logout.md
        section#authorize
          include:markdown docs/authorize.md
        section#profile
          include:markdown docs/profile.md

