extends layout

include mixins

block content
  .entry
    .sub-menu
      nav(data-accordion-group='')
        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/overview')
            | General
          ul(data-content='')
            li
              a(href='/docs/overview').active Overview
            li
              a(href='/docs/authenticate') Authenticate
            li
              a(href='/docs/configure') Configure
            li
              a(href='/docs/username-password') Username & Password
            li
              a(href='/docs/openid') OpenID
            li
              a(href='/docs/oauth') OAuth
            li
              a(href='/docs/profile') User Profile

        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/facebook')
            | Providers
          ul(data-content='')
            li
              a(href='/docs/facebook') Facebook
            li
              a(href='/docs/twitter') Twitter
            li
              a(href='/docs/google') Google
            li
              a(href='/', data-search='') Other

        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/basic-digest')
            | APIs
          ul(data-content='')
            li
              a(href='/docs/basic-digest') Basic & Digest
            li
              a(href='/docs/oauth-api') OAuth
            li
              a(href='/docs/oauth2-api') OAuth 2.0
            li
              a(href='/docs/other-api') Other

        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/login')
            | Operations
          ul(data-content='')
            li
              a(href='/docs/login') Log In
            li
              a(href='/docs/logout') Log Out
            li
              a(href='/docs/authorize') Authorize

    a.go-top(href='#top')
      i.icon-budicon-462

    .guides
      section#overview
        include:markdown docs/overview.md
      section#authenticate
        include:markdown docs/authenticate.md
      section#configure
        include:markdown docs/configure.md
      section#username-password
        include:markdown docs/username-password.md
      section#openid
        include:markdown docs/openid.md
      section#oauth
        include:markdown docs/oauth.md
      section#profile
        include:markdown docs/profile.md
      section#facebook
        include:markdown docs/facebook.md
      section#twitter
        include:markdown docs/twitter.md
      section#google
        include:markdown docs/google.md
      section#basic-digest
        include:markdown docs/basic-digest.md
      section#oauth-api
        include:markdown docs/oauth-api.md
      section#oauth2-api
        include:markdown docs/oauth2-api.md
      section#other-api
        include:markdown docs/other-api.md
      section#login
        include:markdown docs/login.md
      section#logout
        include:markdown docs/logout.md
      section#authorize
        include:markdown docs/authorize.md
