extends layout

include mixins

block content
  .main-hold
    .top-site
      .search
        form(action='#')
          input(type='text', placeholder='Search for Strategies')
          button(type='submit')

      .social
        ul
          li.twitter
            a(href='http://twitter.com/passportjs', target='_blank')
          li.facebook
            a(href='/')
          li.git
            a(href='http://github.com/jaredhanson/passport', target='_blank')
              span.stat 0
          li.auth0
            a(href='http://auth0.com', target='_blank')
              img(src='images/supported_logo.svg', alt='')

    nav#menu
      a#logo(href='/', title='JH') by Jared Hanson
      .menu-trigger
        span
      .menu-hold
        ul
          li
            a(href='/') Home
          li.active
            a(href='docs') Documentation
          li
            a(href='/') Strategies

    .content
      nav.sub-menu
        ul
          li
            a(href='#').active Overview
          li
            a(href='#') Authenticate
          li
            a(href='#') Configure
          li
            a(href='#') Username & Password
          li
            a(href='#') OpenID
          li
            a(href='#') OAuth
          li
            h5 Providers
            ul
              li
                a(href='#') Facebook
              li
                a(href='#') Twitter
              li
                a(href='#') Google
              li
                a(href='#') Other
          li
            h5 APIs
            ul
              li
                a(href='#') Basic & Digest
              li
                a(href='#') OAuth
              li
                a(href='#') OAuth 2.0
              li
                a(href='#') Other
          li
            h5 Operations
            ul
              li
                a(href='#') Log In
              li
                a(href='#') Log Out
              li
                a(href='#') Authorize
              li
                a(href='#') User Profile

      .entry
        h1 Overview
        p
          | Passport is authentication middleware for&nbsp;
          a(href='#') Node
          | . It is designed to serve a singular purpose: authenticate requests. When writing modules, encapsulation is a virtue, so Passport delegates all other functionality to the application. This separation of concerns keeps code clean and maintainable, and makes Passport extremely easy to integrate into an application.
        p
          | In modern web applications, authentication can take a variety of forms. Traditionally, users log in by providing a username and password. With the rise of social networking, single sign-on using an&nbsp;
          a(href='#') OAuth
          |  provider such as&nbsp;
          a(href='#') Facebook
          |  or&nbsp;
          a(href='#') Twitter
          |  has become a popular authentication method.
          span.desktop-only
            | Services that expose an API often require token-based credentials to protect access.
        p.desktop-only
          | Passport recognizes that each application has unique authentication requirements. Authentication mechanisms, known as strategies, are packaged as individual modules. Applications can choose which strategies to employ, without creating unnecessary dependencies.
        p.desktop-only
          | Despite the complexities involved in authentication, code does not have to be complicated.
        h2.desktop-only Install Passport
        +window("app.js -- vim")
          .rw-wrapper
            .rw-sentence
              p $ npm install passport

  .cloned-blur
  .search-con
    .head
      span.close-ico
      .hold
        h2 SEARCH FOR STRATEGIES
        form(action='#')
          .input
          span.autocomplete
          input(value='', type='text')
        p.info-line 110 STRATEGIES
    .con-line
    .results
      section
