extends layout

include mixins

block content

  .features
    h1 Features

    section
      article.item-1
        i.icon-budicon-285
        p 140+ authentication strategies
      article.item-2
        i.icon-budicon-297
        p Single sign-on with OpenID and OAuth
      article.item-3
        i.icon-budicon-499
        p Easily handle success and failure
      article.item-4
        i.icon-budicon-292
        p Supports persistent sessions
      article.item-5
        i.icon-budicon-280
        p Dynamic scope and permissions
      article.item-6
        i.icon-budicon-477
        p Pick and choose required strategies
      article.item-7
        i.icon-budicon-333
        p Implement custom strategies
      article.item-8
        i.icon-budicon-87
        p Does not mount routes in application
      article.item-9
        i.icon-budicon-717
        p Lightweight code base
