extends layout

include mixins

block content
  nav#menu
    a#logo(href='/', title='JH') by Jared Hanson
    .menu-trigger
      span
    .menu-hold
      ul
        li.active
          a(href='/') Home
        li
          a(href='docs') Documentation
        li
          a(href='features') Features
        li
          a(href='/', data-search='') Strategies

      .social
        ul
          li.twitter
            a(href='http://twitter.com/passportjs', target='_blank')
          li.git
            a(href='http://github.com/jaredhanson/passport', target='_blank')
          li.auth0
            a(href='http://auth0.com', target='_blank')

  .content
    .home
      h1 Passport
      h2 Simple, unobtrusive authentication for Node.js
      +window("app.js -- vim")
        .rw-wrapper
          .rw-sentence
            p passport.authenticate
              span.rw-words.rw-words-1
                span ('twitter');
                span ('facebook');
                span ('google');

      p Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be unobtrusively dropped in to any Express-based web application. A comprehensive set of strategies support authentication using a username and password, Facebook, Twitter, and more.

      .strategies
        p +500 Strategies Now!
        a.btn(href='/', data-search='') View All Strategies

