doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    
    meta(name='msapplication-TileColor', content='#35DF79')
    meta(name='msapplication-TileImage', content='/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#35DF79')
  
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@passportjs')
    meta(name='twitter:creator', content='@jaredhanson')
    meta(name='twitter:title', content='Passport')
    meta(name='twitter:description', content='Simple, unobtrusive authentication for Node.js')
    meta(name='twitter:image', content='http://passportjs.org/images/twitter-card.png')

    //- OpenGraph
    meta(property='og:type', content='website')
    meta(property='og:title', content='Passport')
    meta(property='og:description', content='Simple, unobtrusive authentication for Node.js')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='http://passportjs.org/')
    meta(property='og:image', content='http://passportjs.org/images/facebook-card.png')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
            
    //- CSS
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.net/cssapi/7527d73a-ebfe-45db-a201-ff2812df4b18.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    
    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='/images/favicon/manifest.json')
      
    //- Twitter

      
    != LRScript
  body(class=page_name)
    .main-hold
      .top-site
        .search
          form(action='#')
            button(type='submit')
            input(type='text', placeholder='Search for Strategies')

        .social
          ul
            li.twitter
              a(href='http://twitter.com/passportjs', target='_blank')
            li.git
              a(href='http://github.com/jaredhanson/passport', target='_blank')
                span.stat 0


      nav#menu
        a#logo(href='/', title='JH', data-pjax="/") by Jared Hanson
        .menu-trigger
          span
        .menu-hold
          ul

            li(class=(title === 'Passport' ? 'active' : ''))
              a(href='/', data-pjax='/') Home
            li(class=(title === 'Documentation' ? 'active' : ''))
              a(href='/docs', data-pjax='/docs') Documentation
            li(class=(title === 'Features' ? 'active' : ''))
              a(href='/features', data-pjax='/features') Features
            li
              a(href='/', data-search='') Strategies


      #page-content.content
        block content



    a(href='http://auth0.com', target='_blank').supported
      | Supported by
      i.auth0

    .search-con
      .head
        span.close-ico
        .hold
          h2 SEARCH FOR STRATEGIES
          form(action='/')
            .input
            span.autocomplete
            input(value='', type='text')
          p.info-line
            span 0
            | STRATEGIES
      .con-line
      .results
        section

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js')
    script(src='javascripts/plugins.js')
    script(src='javascripts/helpers.js')
    script(src='javascripts/main.js')
