doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.net/cssapi/7527d73a-ebfe-45db-a201-ff2812df4b18.css')
    != LRScript
  body(class=page_name)
    .main-hold
      .top-site
        .search
          form(action='#')
            button(type='submit')
            input(type='text', placeholder='Search for Strategies')

        .social
          ul
            li.twitter
              a(href='http://twitter.com/passportjs', target='_blank')
            li.git
              a(href='http://github.com/jaredhanson/passport', target='_blank')
                span.stat 0


      nav#menu
        a#logo(href='/', title='JH') by Jared Hanson
        .menu-trigger
          span
        .menu-hold
          ul
            li(class=(title === 'PassportJS' ? 'active' : ''))
              a(href='/') Home
            li(class=(title === 'Documentation' ? 'active' : ''))
              a(href='docs') Documentation
            li(class=(title === 'Features' ? 'active' : ''))
              a(href='features') Features
            li
              a(href='/', data-search='') Strategies
            

      .content
        block content

    
  
    a(href='http://auth0.com', target='_blank').supported 
      | Supported by 
      i.auth0

    .search-con
      .head
        span.close-ico
        .hold
          h2 SEARCH FOR STRATEGIES
          form(action='/')
            .input
            span.autocomplete
            input(value='', type='text')
          p.info-line 0 STRATEGIES
      .con-line
      .results
        section

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js')
    script(src='javascripts/plugins.js')
    script(src='javascripts/main.js')
