doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    != LRScript
  body
    block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='javascripts/plugins.js')
    script(src='javascripts/main.js')