mixin window(title)
  .window
    .window-toolbar
      i.red
      i.yellow
      i.green

      span=title

    .window-content
      block

mixin browser(title)
  .browser
    .browser-toolbar
      .btns
        i.close
        i.min
        i.max
      .location-bar
        i.bi_user-lock
        span=title

      .menu-button
        span
        span
        span

    .browser-content
      block
