extends layout

include mixins

block content
  .home
    h1 PassportJS Tutorials, Guides and Deep Dives
      
    p
      Here is a list of vetter high quality PassportJS resources

    ul
      li abtn(href='https://www.airpair.com/express/posts/expressjs-and-passportjs-sessions-deep-dive?utm_source=passportjs.org')  ExpressJS and PassportJS Sessions Deep Dive
