// package layout

#package
  margin: 0 auto

  .description
    width 100%
    +breakpoint("tablet")
      float left
      width: 70%

  .metadata
    width 100%
    +breakpoint("tablet")
      float: left
      width: 25%
