@import 'budicons'
@import 'variables'
@import 'mixins'
@import 'browser-window'
@import 'base-style'

@import 'base'
@import 'elements/button'
@import 'layout'


.rw-wrapper
  position: relative;

.rw-words-1
  position relative
  span
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 15s linear infinite 0s;
    animation: rotateWord 15s linear infinite 0s;

    &:nth-child(2)
      -webkit-animation-delay: 3s;
      animation-delay: 3s;

    &:nth-child(3)
      -webkit-animation-delay: 6s;
      animation-delay: 6s;

    &:nth-child(4)
      -webkit-animation-delay: 9s;
      animation-delay: 9s;

    &:nth-child(5)
      -webkit-animation-delay: 12s;
      animation-delay: 12s;

.content
  clearfix()
  +breakpoint("tablet")
    padding-left 260px
    position relative
  +breakpoint("desktop")
    padding-left 350px

  .supported
    display block
    margin-top 40px
    +breakpoint("tablet")
      display none

.home
  max-width 840px
  width 100%
  text-align center
  margin 120px auto 0
  padding 0 20px
  box-sizing border-box
  +breakpoint("tablet")
    margin-top 60px
  h1
    font-size 50px
    font-weight 100
    color blue
    line-height 1
    margin 0 0 20px
    +breakpoint("desktop")
      font-size 70px
      margin-bottom 34px

  h2
    font-size 22px
    color white
    font-weight 100
    line-height 1.4
    margin 0 0 50px
    +breakpoint("desktop")
      font-size 36px
      margin 0 auto 24px

  & > p
    line-height 1.8
    margin-top 50px
    margin-bottom 50px
    color: rgba(255,255,255,.8)
    +breakpoint("tablet")
      -webkit-transform translateY(-120px)
      transform translateY(-120px)
      margin 0 auto
      font-size: 18px;

  .strategies
    +breakpoint("tablet")
      margin-top 150px
    p
      font-size 27px
      color white
      margin 0 0 17px 0
      +breakpoint("desktop")
        display inline-block
        font-size 24px
        margin 0 20px 0 0
        vertical-align middle

    .btn
      margin 0 auto
      +breakpoint("desktop")
        display inline-block

  a
    color: white;

@import 'components/window'

.features
  text-align center
  margin-top 120px
  overflow hidden
  padding 0 20px
  max-width: 890px;
  margin: auto;
  margin-top: 120px;
  +breakpoint("desktop")
    margin-top 80px

  h1
    font-size 30px
    font-weight 400
    color white
    line-height 1
    margin 0 0 40px
    color: yellow;
    padding 0
    +breakpoint("tablet")
      font-size 50px
      margin-bottom 60px

  p.page-description
    margin-top: 40px
    margin-bottom: 30px;
    color: #ccc;
    font-size: 18px;
    +breakpoint("tablet")
      margin-bottom: 60px;

  section
    text-align: center;
    +breakpoint("desktop")
      padding-left: 30px

  .col
    display: block;
    +breakpoint("desktop")
      margin-right: 30px;

    +breakpoint("tablet")
      width: 400px
      display: inline-block

    article
      background-color yellow
      margin: auto;
      text-align: left;
      color: black;
      margin-bottom 4px
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 3px;
      text-align: center;
      padding 10px
      +breakpoint("desktop")
        padding: 0;

      i
        display inline-block
        vertical-align middle
        font-size: 20px;
        text-align: center;
        margin-top: 10px;

        +breakpoint("tablet")
          height: 80px;
          width: 80px
          margin: 0;
          line-height 3.3
          font-size 28px
          background: rgba(0,0,0,.2)
          float left;

      p
        color black
        font-weight: 500;
        margin: 0;
        display: block;
        margin-bottom: 0px;
        font-size: 14px;

        +breakpoint("tablet")
          padding-top: 26px
          font-size: 16px;
          padding-left: 20px;
          float left;

    .item-1
      background-color: #35DF79

    .item-2
      background-color: #42E26F

    .item-3
      background-color: #62E858

    .item-4
      background-color: #6CE94F

    .item-5
      background-color: #7DED43

    .item-5
      background-color: #8DF038

    .item-6
      background-color: #A1F328

    .item-7
      background-color: #B4F71B

    .item-8
      background-color: #D3FD03

    .item-9
      background-color: lighten(#D3FD03, 20%)

  .hide
    opacity: 0;
.entry
  +breakpoint("desktop")
    margin-top 80px

  .go-top
    background-color rgba(white,.3)
    width 50px
    height 50px
    position fixed
    right 10px
    bottom 10px
    border-radius 50%
    text-align center
    color white
    font-size 30px
    line-height 1.9
    display none

    &.fixed
      display block
      z-index 99
      +breakpoint("desktop")
        display none

@import 'components/book'


.desktop-only
  display none !important
  +breakpoint("tablet")
    display block !important

.top-site, .content
  -webkit-transition .5s
  transition .5s
  +breakpoint("tablet")
    -webkit-transition none
    transition none

html.is-menu, html.is-menu body
  overflow hidden
  height 100vh

  .social
    display: block
    position: fixed;
    bottom: 50px;
    z-index: 100;
    right: 0;
    left: 0;
    text-align: center;
    .twitter
      margin-right: 30px;

  .social li:last-child
    margin-right: 0;

.is-search
  overflow hidden
  .search-con
    display block

@import 'components/search'


@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-10px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(10px); }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px); }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

// ads
.supported {
  margin-top: 20px !important;
}

.menu-hold li {
  margin-bottom: 0 !important;
}

.menu-hold {
  margin-top: 40px !important;
}

#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  padding-left: 91px;
  max-width: 200px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto .75em;
}

.carbon-text {
  display: block;
  margin-bottom: .75em;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  line-height: 1;
}

@media only screen and (min-width: 320px) and (max-width: 770px) {
  #carbonads {
    display: none;
  }
}
