/* ==========================================================================
   Base
   
   Base rules declare the default styling for all occurances of an element on
   a page.
   
   Rules within this style sheet should be applied to elements using type
   selectors, rather than class or ID selectors.  Such rules, if necessary,
   should be placed into component-specific style sheets.
  
   References:
     - [Base Rules](https://smacss.com/book/type-base)
   ========================================================================== */

html
  height: 100%

body
  height: 100%
  margin: 0
  color: rgba(255,255,255,.8)
  background: #000
  font: 16px/30px 'Avenir', Arial, sans-serif
  font-weight: 200
  -webkit-text-size-adjust: none
  +breakpoint("tablet")
    font-size 16px

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    color: white
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased




/* Typography
   -------------------------------------------------------------------------- */

h1
  font-size: 36px
  font-weight: 800
  margin-top: 0
  margin-bottom: 14px
  line-height: 1.1111111

h2
  font-size: 24px
  font-weight: 700
  margin-top: 32px
  margin-bottom: 16px
  line-height: 1.3333333

h3
  font-size: 20px
  font-weight: 600
  margin-top: 26px
  margin-bottom: 10px
  line-height: 1.6

h4
  font-weight: 600
  margin-top: 24px
  margin-bottom: 8px
  line-height: 1.5

p
  line-height: 30px
  margin-bottom: 30px



input, textarea, select, button
  outline none
  font-family 'Avenir', Arial, sans-serif
  font-weight 200

input::-ms-clear
  display none

a
  color blue
  text-decoration none

ul
  margin 0
  padding 0

  li
    list-style none
