/* ==========================================================================
   Base
   
   Base rules declare the default styling for all occurances of an element on
   a page.
   
   Rules within this style sheet should be applied to elements using type
   selectors, rather than class or ID selectors.  Such rules, if necessary,
   should be placed into component-specific style sheets.
  
   References:
     - [Base Rules](https://smacss.com/book/type-base)
   ========================================================================== */

html
  height: 100%

body
  height: 100%
  margin: 0
  color: rgba(255,255,255,.8)
  background: #000
  font: 16px/30px 'Avenir', Arial, sans-serif
  font-weight: 200
  -webkit-text-size-adjust: none
  +breakpoint("tablet")
    font-size 16px

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    color: white
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale




/* Typography
   -------------------------------------------------------------------------- */

h1
  margin: 0
  padding: 0
  font-size: 30px
  line-height: 1
  color: blue
  +breakpoint("tablet")
    margin-bottom: 30px
    font-size: 40px
    font-weight: 400

h2
  margin: 0 0 27px 0
  font-size: 22px
  font-weight: 100
  line-height: 1.4
  color: white
  +breakpoint("desktop")
    font-size: 26px
    margin: 50px 0 30px

h4
  color: white

p
  line-height: 30px
  margin-bottom: 30px



input, textarea, select, button
  outline none
  font-family 'Avenir', Arial, sans-serif
  font-weight 200

input::-ms-clear
  display none

a
  color blue
  text-decoration none

ul
  margin 0
  padding 0

  li
    list-style none
