/* ==========================================================================
   Base
   
   Base rules declare the default styling for all occurances of an element on
   a page.
   
   Rules within this style sheet should be applied to elements using type
   selectors, rather than class or ID selectors.  Such rules, if necessary,
   should be placed into component-specific style sheets.
  
   References:
     - [Base Rules](https://smacss.com/book/type-base)
   ========================================================================== */

html
  height: 100%

body
  -webkit-text-size-adjust none
  font 16px/30px 'Avenir', Arial, sans-serif
  font-weight 200
  color rgba(255,255,255,.8)
  background #000
  height 100%
  margin 0
  +breakpoint("tablet")
    font-size 16px

  &.pjax-loading
    #content
      opacity .3

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;

input, textarea, select, button
  outline none
  font-family 'Avenir', Arial, sans-serif
  font-weight 200

input::-ms-clear
  display none

a
  color blue
  text-decoration none

ul
  margin 0
  padding 0

  li
    list-style none
