/* ==========================================================================
   Layout
  
   Layout rules are intended for positioning and placement, not stylistic
   properties like fonts and colors.
  
   References:
     - [Layout Rules](https://smacss.com/book/type-layout)
   ========================================================================== */

.main-hold
  position relative
  padding-bottom 30px
  +breakpoint("tablet")
    margin 0 auto
    padding-bottom 60px

.top-site
  +breakpoint("tablet")
    clearfix()
    padding-top 60px
    padding-right 20px
    padding-left 280px
  +breakpoint("desktop")
    padding-right 50px
    padding-left 400px

.social
  text-decoration none
  display none
  +breakpoint("tablet")
    display inline-block
    float right
    margin-top 10px

  li
    width 26px
    height 26px
    display inline-block
    vertical-align middle
    margin-right 5px
    &:last-child
      margin-right 62px
      padding-left 4px
      img
        width 100%
  a
    display block
    background url(../../images/ico_social.svg) no-repeat
    position relative
    height 26px
    width 25px
    .stat
      display none
      +breakpoint("tablet")
        display block
        background #333
        border-radius 3px
        position absolute
        left 33px
        top 2px
        font-size 12px
        color rgba(255,255,255,.8)
        line-height 23px
        height 22px
        font-weight: bold;
        padding 0 10px
      &:after
        +breakpoint("tablet")
          width 0
          height 0
          border-style solid
          border-width 3px 3px 3px 0
          border-color transparent #333 transparent transparent
          position absolute
          content ""
          left -3px
          top 50%
          margin-top -3px
  .git
    a
      background-position -51px 0

.search
  background #212121
  width 100%
  padding 20px
  box-sizing border-box
  display inline-block
  position absolute
  -webkit-transform translateY(100px)
  transform translateY(100px)
  +breakpoint("tablet")
    background none
    width 200px
    -webkit-transform none
    transform none
    box-sizing initial
    padding 0

  form
    border 1px solid rgba(white,.2)
    border-radius 48px
    margin 0
    padding 0
    width 100%
    text-align center
    height 46px
    input
      display inline-block
      text-align left
      font-size 14px
      height 44px
      background none
      color white
      border none
      padding-left 0px
      width 145px
      &::-webkit-input-placeholder
        color rgba(white,1)
      &:-moz-placeholder
        color rgba(white,1)
      &:-ms-input-placeholder
        color rgba(white,1)

    button
      display inline-block
      background url(../../images/ico_search.svg) no-repeat
      height 18px
      width 18px
      border none
      vertical-align: top;
      position relative
      top 14px
      margin-left: 10px
      margin-right: 14px;

#logo
  display block
  cursor pointer
  background  url(../../images/logo.svg) center left no-repeat
  background-size 40px auto;
  color #fff
  font-size 14px
  line-height 44px
  padding-left 56px
  height: 100px;
  margin 0 0 0 40px
  float left
  +breakpoint("tablet")
    background-position center
    background-size auto 80%;
    font-size 16px
    line-height 22px
    margin 60px auto 10px auto;
    text-align center
    max-width 130px
    float none
    position relative
    z-index 101
  &:hover
    text-decoration none
.jared
  color: #ccc;
  display: none;
  font-size: 15px;
  +breakpoint('tablet')
    display: block;

#menu
  height 100px
  +breakpoint("tablet")
    width 260px
    background black
    border-right 1px solid #222
    height 100%
    text-align center
    position fixed
    top 0
    z-index 10
  +breakpoint("desktop")
    width 350px

    @media screen and ( max-height: 750px )
      overflow-y scroll

  .menu-trigger
    height 10px
    width 23px
    padding-top 7px
    cursor pointer
    float right
    margin 43px 40px 0 0
    span, span:before, span:after
      background white
      width 100%
      height 2px
      display block
      -webkit-transition .3s ease-out
      transition .3s ease-out
      backface-visibility hidden
    span
      position relative
      &:before, &:after
        content ""
        position absolute
      &:before
        top -7px
      &:after
        top 7px
    +breakpoint("tablet")
      display none

    &.is-active
      span
        background transparent
        &:before
          -webkit-transform translate(0, 7px) rotate(-45deg)
          transform translate(0, 7px) rotate(-45deg)
        &:after
          -webkit-transform translate(0, -7px) rotate(45deg)
          transform translate(0, -7px) rotate(45deg)

  .design
    display none
    +breakpoint("tablet")
      display block
      position absolute
      bottom 35px
      left 0
      width 260px
      font-size 14px
      color white
      line-height 16px
    +breakpoint("desktop")
      width 350px
    a
      color white
      img
        margin-left 5px
        display inline-block
        vertical-align middle

  .supported
    display none
    +breakpoint("tablet")
      display block

.supported
  clear both
  padding 10px
  bottom 0
  left 0
  font-size 14px
  text-align center
  color #999
  z-index 10
  margin 0 auto
  +breakpoint("tablet")
    width 100%
    position absolute
    bottom 20px
  +breakpoint("tablet")
    @media screen and ( max-height: 750px )
      position relative
      bottom auto
      margin-top 80px

  .auth0
    width 24px
    height 24px
    display inline-block
    margin-left: 6px;
    margin-bottom: -8px;
    background url(../../images/supported_logo.svg) no-repeat


.menu-hold
  display none
  width 100%
  z-index 99
  +breakpoint("tablet")
    display block
    height auto
    background none
    text-align left
    position absolute
    top 55%
    -webkit-transform translateY(-50%)
    transform translateY(-50%)

    @media screen and ( max-height: 750px )
      position relative
      -webkit-transform none
      transform none
      top auto
      margin-top 80px

    li
      padding-left 26%
      margin-bottom 15px
      -webkit-transition box-shadow .3s ease-in-out
      transition box-shadow .3s ease-in-out
      &.active:nth-child(1)
        box-shadow inset 5px 0 0 0 green
        a
          color green
      &.active:nth-child(2)
        box-shadow inset 5px 0 0 0 blue
        -webkit-transition .5s
        transition .5s
        a
          color blue
      &.active:nth-child(3)
        box-shadow inset 5px 0 0 0 yellow
        a
          color yellow
      a
        color white
        font-size 24px
        line-height 2.5



  &.is-active
    background rgba(#121212,.98)
    height calc(100vh - 100px)
    position absolute
    top 100px
    text-align center
    display block

    & > ul
      width 100%
      top 50%
      -webkit-transform translateY(-50%)
      transform translateY(-50%)
      position absolute
      padding-left 0
      margin-top: -44px;
      +breakpoint("mobile-landscape")
        margin-top: 0;

    li
      margin 30px 0


    a
      color white
      font-size 30px

    .social
      display inherit
      position absolute
      width 100%
      bottom 40px
      li
        margin 0 5px 0
