/* ==========================================================================
   Layout
  
   References:
     - [Layout Rules](https://smacss.com/book/type-layout)
   ========================================================================== */

.main-hold
  position relative
  padding-bottom 30px
  +breakpoint("tablet")
    margin 0 auto
    padding-bottom 60px

.top-site
  +breakpoint("tablet")
    clearfix()
    padding-top 60px
    padding-right 20px
    padding-left 280px
  +breakpoint("desktop")
    padding-right 50px
    padding-left 400px
