/* ==========================================================================
   State
  
   References:
     - [State Rules](https://smacss.com/book/type-state)
   ========================================================================== */

body
  &.is-loading
    #content
      opacity: .3
