/* ==========================================================================
   State
  
   References:
     - [State Rules](https://smacss.com/book/type-state)
   ========================================================================== */


/**
 * Menu state.
 *
 * The `.is-menu` state can be toggled by JavaScript to make menu visible.
 *
 * This state is primarily used on mobile devices.  On tablet and desktop
 * devices, the menu is always visible.
 */
html.is-menu, html.is-menu body
  height: 100vh
  overflow: hidden


/**
 * Loading state.
 *
 * The `.is-loading` state can be toggled by JavaScript to indicate when
 * resources are being loaded or other asynchronous operations are taking
 * place.
 *
 * This state is primarily used when PJAX techniques are being used to
 * partially load and replace the content of a page.
 */
body.is-loading
  #content
    opacity: .3


/**
 * Packages viewer state.
 *
 * The `.is-search` state can be toggled by JavaScript to make the on-page
 * packages viewer visible.
 *
 * 1. Set overflow to hidden in order to hide any scroll bars that may be
 *    present in the browser's chrome.
 * 2. Make the packages viewer visible.
 */
body.is-search
  overflow: hidden // [1]
  .search-con
    display: block // [2]

