.supported {
  margin-top: 20px !important;
}

.menu-hold li {
  margin-bottom: 0 !important;
}

.menu-hold {
  margin-top: 40px !important;
}

#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  padding-left: 91px;
  max-width: 200px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto .75em;
}

.carbon-text {
  display: block;
  margin-bottom: .75em;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  line-height: 1;
}
