@import 'budicons'
@import 'variables'
@import 'mixins'
@import 'browser-window'
@import 'base-style'

html
  height 100%

body
  -webkit-text-size-adjust none
  font 16px/30px 'Avenir'
  color rgba(255,255,255,.8)
  background #000
  height 100%
  margin 0
  +breakpoint("tablet")
    font-size 16px

  &.pjax-loading
    #page-content
      opacity .3

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;

input, textarea, select, button
  outline none
  font-family 'Avenir'

a
  color blue
  text-decoration none

ul
  margin 0
  padding 0

  li
    list-style none

.btn
  text-transform uppercase
  border-radius 60px
  padding 0 44px
  display block
  background green
  font-size 16px
  color black
  line-height 3.8
  height 60px
  max-width 277px
  border none
  font-weight: 500;
  &:hover
    background darken(green,20%)


.main-hold
  position relative
  padding-bottom 30px
  +breakpoint("tablet")
    margin 0 auto
    padding-bottom 60px

.top-site
  +breakpoint("tablet")
    clearfix()
    padding-top 60px
    padding-right 20px
    padding-left 280px
  +breakpoint("desktop")
    padding-right 50px
    padding-left 400px

.social
  text-decoration none
  display none
  +breakpoint("tablet")
    display inline-block
    float right
    margin-top 10px

  li
    width 26px
    height 26px
    display inline-block
    vertical-align middle
    margin-right 5px
    &:last-child
      margin-right 62px
      padding-left 4px
      img
        width 100%
  a
    display block
    background url(../images/ico_social.svg) no-repeat
    position relative
    height 26px
    width 25px
    .stat
      display none
      +breakpoint("tablet")
        display block
        background #333
        border-radius 3px
        position absolute
        left 33px
        top 2px
        font-size 12px
        color rgba(255,255,255,.8)
        line-height 23px
        height 22px
        font-weight: bold;
        padding 0 10px
      &:after
        +breakpoint("tablet")
          width 0
          height 0
          border-style solid
          border-width 3px 3px 3px 0
          border-color transparent #333 transparent transparent
          position absolute
          content ""
          left -3px
          top 50%
          margin-top -3px
  .git
    a
      background-position -51px 0

.search
  background #212121
  width 100%
  padding 20px
  box-sizing border-box
  display inline-block
  position absolute
  -webkit-transform translateY(100px)
  transform translateY(100px)
  +breakpoint("tablet")
    background none
    width 200px
    -webkit-transform none
    transform none
    box-sizing initial
    padding 0

  form
    border 1px solid rgba(white,.2)
    border-radius 48px
    margin 0
    padding 0
    width 100%
    text-align center
    height 46px
    input
      display inline-block
      text-align left
      font-size 14px
      height 44px
      background none
      color white
      border none
      padding-left 0px
      width 145px
      &::-webkit-input-placeholder
        color rgba(white,1)
      &:-moz-placeholder
        color rgba(white,1)
      &:-ms-input-placeholder
        color rgba(white,1)

    button
      display inline-block
      background url(../images/ico_search.svg) no-repeat
      height 18px
      width 18px
      border none
      vertical-align: top;
      position relative
      top 14px
      margin-left: 10px
      margin-right: 14px;

#logo
  display block
  cursor pointer
  background  url(../images/logo.svg) center left no-repeat
  background-size 40px auto;
  color #fff
  font-size 14px
  line-height 44px
  padding-left 56px
  height: 100px;
  margin 0 0 0 40px
  float left
  +breakpoint("tablet")
    background-position center
    background-size auto 80%;
    font-size 16px
    line-height 22px
    margin 60px auto 10px auto;
    text-align center
    max-width 130px
    float none
    position relative
    z-index 101
  &:hover
    text-decoration none
.jared
  color: #ccc;
  display: none;
  font-size: 15px;
  +breakpoint('tablet')
    display: block;

#menu
  height 100px
  +breakpoint("tablet")
    width 260px
    background black
    border-right 1px solid #222
    height 100%
    text-align center
    position fixed
    top 0
    z-index 10
  +breakpoint("desktop")
    width 350px

    @media screen and ( max-height: 750px )
      overflow-y scroll

  .menu-trigger
    height 10px
    width 23px
    padding-top 7px
    cursor pointer
    float right
    margin 43px 40px 0 0
    span, span:before, span:after
      background white
      width 100%
      height 2px
      display block
      -webkit-transition .3s ease-out
      transition .3s ease-out
      backface-visibility hidden
    span
      position relative
      &:before, &:after
        content ""
        position absolute
      &:before
        top -7px
      &:after
        top 7px
    +breakpoint("tablet")
      display none

    &.is-active
      span
        background transparent
        &:before
          -webkit-transform translate(0, 7px) rotate(-45deg)
          transform translate(0, 7px) rotate(-45deg)
        &:after
          -webkit-transform translate(0, -7px) rotate(45deg)
          transform translate(0, -7px) rotate(45deg)

  .design
    display none
    +breakpoint("tablet")
      display block
      position absolute
      bottom 35px
      left 0
      width 260px
      font-size 14px
      color white
      line-height 16px
    +breakpoint("desktop")
      width 350px
    a
      color white
      img
        margin-left 5px
        display inline-block
        vertical-align middle

.supported
  clear both
  padding 10px
  bottom 0
  left 0
  font-size: 14px;
  padding-bottom 50px
  text-align center
  color #999
  z-index 10
  display block
  +breakpoint("tablet")
    position fixed
    width 240px
  +breakpoint("desktop")
    width 330px

    @media screen and ( max-height: 680px )
      display none

  .auth0
    width 24px
    height 24px
    display inline-block
    margin-left: 6px;
    margin-bottom: -8px;
    background url(../images/supported_logo.svg) no-repeat


.menu-hold
  display none
  width 100%
  z-index 99
  +breakpoint("tablet")
    display block
    height auto
    background none
    text-align left
    position absolute
    top 52%
    -webkit-transform translateY(-50%)
    transform translateY(-50%)

    @media screen and ( max-height: 750px )
      position relative
      -webkit-transform none
      transform none
      top 80px

    li
      padding-left 26%
      margin-bottom 15px
      -webkit-transition box-shadow .3s ease-in-out
      transition box-shadow .3s ease-in-out
      &.active:nth-child(1)
        box-shadow inset 5px 0 0 0 green
        a
          color green
      &.active:nth-child(2)
        box-shadow inset 5px 0 0 0 blue
        -webkit-transition .5s
        transition .5s
        a
          color blue
      &.active:nth-child(3)
        box-shadow inset 5px 0 0 0 yellow
        a
          color yellow
      a
        color white
        font-size 24px
        line-height 2.5



  &.is-active
    background rgba(#121212,.98)
    height calc(100vh - 100px)
    position absolute
    top 100px
    text-align center
    display block

    & > ul
      width 100%
      top 46%
      -webkit-transform translateY(-50%)
      transform translateY(-50%)
      position absolute
      padding-left 0

    li
      margin 30px 0

    a
      color white
      font-size 30px

    .social
      display inherit
      position absolute
      width 100%
      bottom 40px
      li
        margin 0 5px 0

.rw-wrapper
  position: relative;

.rw-words-1
  position relative
  span
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 15s linear infinite 0s;
    animation: rotateWord 15s linear infinite 0s;

    &:nth-child(2)
      -webkit-animation-delay: 3s;
      animation-delay: 3s;

    &:nth-child(3)
      -webkit-animation-delay: 6s;
      animation-delay: 6s;

    &:nth-child(4)
      -webkit-animation-delay: 9s;
      animation-delay: 9s;

    &:nth-child(5)
      -webkit-animation-delay: 12s;
      animation-delay: 12s;

  .twitter
    color: #55acee;

  .facebook
    color: #3b5998;

  .google
    color: #dd4b39;

  .linkedin
    color: #0976b4;

  .github
    color: #333;

.content
  clearfix()
  +breakpoint("tablet")
    padding-left 260px
    position relative
  +breakpoint("desktop")
    padding-left 350px

.home
  max-width 840px
  width 100%
  text-align center
  margin 120px auto 0
  padding 0 20px
  box-sizing border-box
  +breakpoint("tablet")
    margin-top 60px
  h1
    font-size 50px
    font-weight 100
    color blue
    line-height 1
    margin 0 0 20px
    +breakpoint("desktop")
      font-size 70px
      margin-bottom 34px

  h2
    font-size 22px
    color white
    font-weight 100
    line-height 1.4
    margin 0 0 50px
    +breakpoint("desktop")
      font-size 36px
      margin 0 auto 24px

  & > p
    line-height 1.8
    margin-top 50px
    margin-bottom 50px
    color: rgba(255,255,255,.8)
    +breakpoint("tablet")
      -webkit-transform translateY(-120px)
      transform translateY(-120px)
      margin 0 auto
      font-size: 18px;

  .window
    max-width 330px
    margin-bottom 30px
    box-sizing border-box
    margin 0 auto
    +breakpoint("tablet")
      max-width 500px
      margin-bottom 0
      -webkit-transform translateY(180px)
      transform translateY(210px)
    +breakpoint("desktop")
      -webkit-transform translateY(180px)
      transform translateY(180px)

    .window-content
      +breakpoint("tablet")
        padding-top 40px
        padding-bottom 40px
    p
      margin 0
      text-align left

  .strategies
    +breakpoint("tablet")
      margin-top 150px
    p
      font-size 27px
      color white
      margin 0 0 17px 0
      +breakpoint("desktop")
        display inline-block
        font-size 24px
        margin 0 20px 0 0
        vertical-align middle

    .btn
      margin 0 auto
      +breakpoint("desktop")
        display inline-block

  a
    color: white;

.features
  text-align center
  margin-top 120px
  overflow hidden
  padding 0 20px
  max-width: 890px;
  margin: auto;
  margin-top: 120px;
  +breakpoint("desktop")
    margin-top 80px

  h1
    font-size 30px
    font-weight 400
    color white
    line-height 1
    margin 0 0 40px
    color: yellow;
    padding 0
    +breakpoint("tablet")
      font-size 50px
      margin-bottom 20px

  p.page-description
    margin-top: 40px
    margin-bottom: 30px;
    color: #ccc;
    font-size: 18px;
    +breakpoint("tablet")
      margin-bottom: 60px;

  section
    text-align: center;
    padding-left: 30px

  .col
    display: block;
    margin-right: 30px;
    // width: 100%;

    +breakpoint("tablet")
      width: 400px
      display: inline-block

    article
      background-color yellow
      margin: auto;
      text-align: left;
      color: black;
      margin-bottom 4px
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 3px;

      i
        width 50px
        height 50px
        display inline-block
        vertical-align middle
        font-size: 20px;
        text-align: center;
        line-height: 2.8;
        float left;
        background: rgba(0,0,0,.2)
        +breakpoint("tablet")
          height: 80px;
          width: 80px
          line-height 3.3
          font-size 28px

      p
        color black
        font-weight: 500;
        padding 0
        margin: 0;
        display: inline-block;
        margin-bottom: 0px;
        float left;
        padding-top: 11px;
        font-size: 12px;
        padding-left: 10px;
        +breakpoint("tablet")
          padding-top: 26px
          font-size: 16px;
          padding-left: 20px;

    .item-1
      background-color: #35DF79

    .item-2
      background-color: #42E26F

    .item-3
      background-color: #62E858

    .item-4
      background-color: #6CE94F

    .item-5
      background-color: #7DED43

    .item-5
      background-color: #8DF038

    .item-6
      background-color: #A1F328

    .item-7
      background-color: #B4F71B

    .item-8
      background-color: #D3FD03

    .item-9
      background-color: lighten(#D3FD03, 20%)

  .hide
    opacity: 0;
.entry
  +breakpoint("desktop")
    margin-top 80px

  .go-top
    background-color rgba(white,.3)
    width 50px
    height 50px
    position fixed
    right 10px
    bottom 10px
    border-radius 50%
    text-align center
    color white
    font-size 30px
    line-height 1.9
    display none

    &.fixed
      display block
      z-index 99
      +breakpoint("desktop")
        display none

.guides
  max-width 840px
  width 100%
  padding 0 20px
  margin 20px 0 0
  position relative
  box-sizing border-box
  +breakpoint("tablet")
    float left
  +breakpoint("desktop")
    margin 0
    width 70%

  h1
    font-size 30px
    color blue
    line-height 1
    margin 0
    padding 0
    +breakpoint("tablet")
      font-size 40px
      font-weight 400
      margin-bottom 30px
  h2
    font-size 22px
    color white
    font-weight 100
    line-height 1.4
    margin 0 0 27px 0
    +breakpoint("desktop")
      font-size 26px
      margin 50px 0 30px
  h4
    color white
  p
    line-height 30px
    margin-bottom 30px
  .pic
    margin 0 -17px
    text-align center
    +breakpoint("tablet")
      margin 0
    img
      max-width 100%
      +breakpoint("tablet")
        display none
        max-width 100%

  & > section
    margin-bottom 80px

.sub-menu
  padding 20px
  margin-top 87px
  +breakpoint("tablet")
    margin-top 0
  +breakpoint("desktop")
    background-color transparent
    width 20%
    min-height 1px
    padding 0
    margin-left 50px
    float left
    display block

    -webkit-animation: fadeInLeft .4s ease-in-out
    animation: fadeInLeft .4s ease-in-out

  ul
    padding-left 18px
    +breakpoint("desktop")
      padding-left 0

  li
    line-height 2.5
    +breakpoint("desktop")
      line-height 1.9
    a
      color rgba(white,.8)
      font-size 14px
      &.active, &:hover
        +breakpoint("desktop")
          color blue

  h5
    margin 0
    font-weight normal
    font-size 14px
    color #f1f1f1
    font-weight bold
    text-transform uppercase
    letter-spacing 1px
    font-size 11px
    line-height 4
    +breakpoint("desktop")
      line-height 2.8
      margin-top 20px

    i
      display inline-block
      margin-right 5px
      transition transform .3s ease-in-out
      +breakpoint("desktop")
        display none

  [data-accordion]
    [data-content]
      +breakpoint("desktop")
        overflow auto!important
        max-height 100%!important
    [data-control]
      position relative

  .accordion
    &:first-child
      h5
        margin-top 0
    &.open
      i
        -webkit-transform rotate(90deg) translateX(5px)
        transform rotate(90deg) translateY(5px)

  nav
    -webkit-transition padding .5s
    transition padding .5s
    &.fixed
      +breakpoint("desktop")
        position fixed
        top 0
        padding-top 20px
        z-index 99

        @media screen and ( max-height: 750px )
          position relative
          padding-top 0


.desktop-only
  display none !important
  +breakpoint("tablet")
    display block !important

.top-site, .content
  -webkit-transition .5s
  transition .5s
  +breakpoint("tablet")
    -webkit-transition none
    transition none

.is-menu
  overflow hidden
  // height 100vh

  .social
    display: block
    position: fixed;
    bottom: 50px;
    z-index: 100;
    right: 0;
    left: 0;
    text-align: center;
    .twitter
      margin-right: 30px;

  .social li:last-child
    margin-right: 0;

.is-search
  overflow hidden
  .search-con
    display block

.search-con
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 99
  background rgba(#121212,.98)
  padding 21px 0 0 0
  display none
  .head
    position fixed
    top 21px
    right 0
    left 0
    height auto
    +breakpoint("tablet")
      top 0
      padding-top 41px
  .close-ico
    position absolute
    top 10px
    right 20px
    background url(../images/ico_close2.svg)
    background-size 20px 20px
    height 19px
    width 19px
    display block
    cursor pointer
    +breakpoint("tablet")
      background-size auto auto
      top 50px
      right 50px
      height 24px
      width 25px
      opacity 0.8
  h2
    font-size 13px
    color white
    letter-spacing 0.88px
    line-height 22px
    font-weight 700
    text-align center
    display block
    +breakpoint("tablet")
      font-size 16px
      line-height 22px
      padding-bottom 5px

  .hold
    text-align center
  form
    position relative
    display inline-block
    max-width 600px
    padding 0 36px
    +breakpoint("tablet")
      border-bottom 1px solid rgba(white,.1)
      padding 0
    .twitter-typeahead
      &:before
        content ""
        width 48px
        height 48px
        background url(../images/ico_seach2.svg) no-repeat
        background-size 50%
        position absolute
        display inline-block
        left -30px
        top 16px
        +breakpoint("tablet")
          background-size 100%
          left -70px
          top 20px

    .tt-menu
      display none !important

    .tt-hint, .tt-input
      background none!important
      border none!important
      max-width 360px
      font-size 32px
      line-height 1.5
      min-height 60px
      text-transform lowercase
      +breakpoint("tablet")
        font-size 70px
        line-height 1.3
        -webkit-transition max-width .3s ease-out
        transition max-width .3s ease-out

        &.bigger
          -webkit-transition max-width .3s ease-out
          transition max-width .3s ease-out
          max-width 620px

    .tt-hint
      display block
      color #8d9095
      white-space nowrap

    .tt-input
      color yellow
      position absolute
      top 0
      left 0

      &::-webkit-input-placeholder {
        text-transform initial
        color #8d9095
      }

      &:-moz-placeholder {
        text-transform initial
        color #8d9095
      }

      &::-moz-placeholder {
        text-transform initial
        color #8d9095
      }

      &:-ms-input-placeholder {
        text-transform initial
        color #8d9095
      }

  .info-line
    font-size 12.8px
    color rgba(255,255,255,0.50)
    letter-spacing 0.71px
    line-height 18px
    text-align center
    margin 6px 0 0
    font-weight 500
    +breakpoint("tablet")
      font-size 16px
      line-height 22px
      margin-top 30px

    span
      margin-right 5px

  .results
    overflow-y auto
    -webkit-overflow-scrolling touch
    position absolute
    top 180px
    left 0
    right 0
    bottom 0
    +breakpoint("tablet")
      top 283px
      max-width 1050px
      padding-top 50px
      margin auto
      clear both


  section
    text-align center
    padding 0 20px!important
    +breakpoint("tablet")
      grid(2, 20px, "article")
    +breakpoint("desktop")
      grid(3, 20px, "article")
  article
    padding-bottom 20px
    a
      border 1px solid #4a4f55
      min-height 100px
      padding 17px 20px 45px 20px
      position relative
      display block
      +breakpoint("tablet")
        min-height 140px
      &:hover
        +breakpoint("tablet")
          text-decoration none
          border-color transparent
          background yellow
          span, .stat span
            color #4A4A4A
          .stat
            .download, .star
              background-position 0 6px
          .text
            color rgba(#4A4A4A,.5)
    span
      display block
      text-align left
    .title
      font-size 20px
      color white
      line-height 27px
      padding-bottom 12px
    .text
      line-height 22px
      color #8e9196
    .stat
      position absolute
      bottom 9px
      left 20px
      span
        float left
        color #fff
        padding-left 19px
        font-size 14px
        line-height 30px
        margin-right 25px
      .download
        background url(../images/ico_download.svg) no-repeat 0 -24px
      .star
        background url(../images/ico_star.svg) no-repeat 0 -24px

    &.featured a
      border-color: yellow;

      .featured-flag
        position: absolute;
        right: 20px;
        bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: yellow;



+breakpoint("desktop")
  .ie .search-con .results
    width 1000px

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-10px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(10px); }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px); }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
