blue = #01B7EE
green = #35DF79
yellow = #D4FD02

color_gray_1 = #F8F8F9 // Light bg gray
color_gray_2 = #E8EAEB // Light border gray
color_gray_3 = #9DA2A8 // Light text gray
color_gray_4 = #5C666F // Dark bg gray

color_blue_links = #0A86B1 // Std color for links

code_color_green = #00FCD4
code_color_blue = #44C7F4
code_color_yellow = #EACA2C
code_color_orange = #FF9A57
code_color_violet = #FF9CE3

// Auth0 Colors
color_blue = #44c7f4
color_red = #eb5424
color_orange = #ff9a57
color_yellow = #eaca2c
color_green = #01b48f
color_pink = #c879b2