.masthead {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}

.masthead .logo {
  height: 32px;
  width: 32px;
}

.masthead h3 a {
  color: #333333;;
  text-decoration: none;
}

.masthead h3 a:hover {
  color: #333333;
  text-decoration: none;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.hero-unit .logo {
  height: 90px;
  width: 90px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}

.brochure {
  font-size: 13px;
  line-height: 18px;
}

.brochure h3 {
  margin-bottom: 0;
}

.brochure li {
  line-height: 18px;
  color: #606060;
}

.brochure pre {
  font-size: 12px;
}

.brochure .btn {
  font-size: 13px;
}

.brochure .also {
  padding: 0 0 0 10px;
}

.brochure .also h5 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: normal;
}

.brochure .also p {
  color: gray;
}

.guide .toc {
  margin-top: 8px;
}

.guide .content h3 {
  margin-top: 0;
}
