<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li<% if ('home' === _layout) { %><%- ' class="active"' -%><% } %>><a href="/">Home</a></li>
    <li<% if ('guide' === _layout) { %><%- ' class="active"' -%><% } %>><a href="/guide/">Guide</a></li>
  </ul>
  <h3><a href="/">Passport</a></h3>
</div>
