<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Passport <% if (title) { %><%- ' | ' + title -%><% } %> <% if (typeof tagline !== 'undefined') { %><%- ' - ' + tagline -%><% } %></title>
    <link rel="stylesheet" href="/vendor/bootstrap/2.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/highlight/gc5f3dbd/styles/github.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-104798-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="container">
      <% include site/masthead %>
      <%- body -%>
      <% include site/footer %>
    </div>
  </body>
</html>
