//-
  Book layout

  This layout is used when rendering books.  The rendered page contains the
  book's table of contents and a chapter's text.

  The table of contents is selectable using a `.toc` class selector.  The
  chapter's text is selectable using a `.chapter` selector.  These selectors
  were chosen to conform to the book microformat, which, while still
  exploratory, is comprehensive and usable.  Further information on the
  microformat can be found at:
    - http://microformats.org/wiki/book-examples
    - http://microformats.org/wiki/book-formats
    - http://microformats.org/wiki/book-brainstorming
//-

extends layout

include mixins
include mixins/app
include mixins/social

block content
  #book.book
    .toc
      nav(data-accordion-group='')
        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/authenticate/')
            | General
          ul(data-content='')
            li
              a(href='/docs/authenticate/', class=(canonicalPath == '/docs/authenticate/' ? 'active' : '')) Authenticate
            li
              a(href='/docs/configure/', class=(canonicalPath == '/docs/configure/' ? 'active' : '')) Configure
            li
              a(href='/docs/username-password/', class=(canonicalPath == '/docs/username-password/' ? 'active' : '')) Username & Password
            li
              a(href='/docs/openid/', class=(canonicalPath == '/docs/openid/' ? 'active' : '')) OpenID
            li
              a(href='/docs/oauth/', class=(canonicalPath == '/docs/oauth/' ? 'active' : '')) OAuth
            li
              a(href='/docs/profile/', class=(canonicalPath == '/docs/profile/' ? 'active' : '')) User Profile

        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/facebook/')
            | Providers
          ul(data-content='')
            li
              a(href='/docs/facebook/', class=(canonicalPath == '/docs/facebook/' ? 'active' : '')) Facebook
            li
              a(href='/docs/snapchat/', class=(canonicalPath == '/docs/snapchat/' ? 'active' : '')) Snapchat
            li
              a(href='/docs/twitter/', class=(canonicalPath == '/docs/twitter/' ? 'active' : '')) Twitter
            li
              a(href='/docs/google/', class=(canonicalPath == '/docs/google/' ? 'active' : '')) Google
            li
              a(href='/packages/') Other

        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/basic-digest/')
            | APIs
          ul(data-content='')
            li
              a(href='/docs/basic-digest/', class=(canonicalPath == '/docs/basic-digest/' ? 'active' : '')) Basic & Digest
            li
              a(href='/docs/oauth-api/', class=(canonicalPath == '/docs/oauth-api/' ? 'active' : '')) OAuth
            li
              a(href='/docs/oauth2-api/', class=(canonicalPath == '/docs/oauth2-api/' ? 'active' : '')) OAuth 2.0
            li
              a(href='/docs/other-api/', class=(canonicalPath == '/docs/other-api/' ? 'active' : '')) Other

        .accordion(data-accordion='')
          h5(data-control='')
            i.icon-budicon-461
            a(href='/docs/login/')
            | Operations
          ul(data-content='')
            li
              a(href='/docs/login/', class=(canonicalPath == '/docs/login/' ? 'active' : '')) Log In
            li
              a(href='/docs/logout/', class=(canonicalPath == '/docs/logout/' ? 'active' : '')) Log Out
            li
              a(href='/docs/authorize/', class=(canonicalPath == '/docs/authorize/' ? 'active' : '')) Authorize

    a#go-top(href='#top')
      i.icon-budicon-462

    .contents
      |!{ content }
