extends layout

include mixins
include mixins/app
include mixins/social

block content

  section.features
    h1= title
    |!{content}

    dl
      each feature in features
        div
          dt
            div
              i(class=feature.image)
            |!{feature.title}
          dd Foo