extends layout

include mixins
include mixins/app
include mixins/social

block content

  section.features
    h1 Features

    ul
      li.item-1
        i.icon-budicon-285
        p 500+ authentication strategies
      li.item-2
        i.icon-budicon-297
        p Single sign-on with OpenID and OAuth
      li.item-3
        i.icon-budicon-499
        p Easily handle success and failure
      li.item-4
        i.icon-budicon-292
        p Supports persistent sessions
      li.item-5
        i.icon-budicon-280
        p Dynamic scope and permissions
      li.item-6
        i.icon-budicon-477
        p Pick and choose required strategies
      li.item-7
        i.icon-budicon-333
        p Implement custom strategies
      li.item-8
        i.icon-budicon-87
        p Does not mount routes in application
      li.item-9
        i.icon-budicon-717
        p Lightweight code base
