extends layout

include mixins

block content

  .features
    h1 Features

    section
      .col
        article.item-1
          i.icon-budicon-285
          p 300+ authentication strategies
      .col
        article.item-2
          i.icon-budicon-297
          p Single sign-on with OpenID and OAuth

      .col
        article.item-3
          i.icon-budicon-499
          p Easily handle success and failure

      .col
        article.item-4
          i.icon-budicon-292
          p Supports persistent sessions

      .col
        article.item-5
          i.icon-budicon-280
          p Dynamic scope and permissions

      .col
        article.item-6
          i.icon-budicon-477
          p Pick and choose required strategies

      .col
        article.item-7
          i.icon-budicon-333
          p Implement custom strategies

      .col
        article.item-8
          i.icon-budicon-87
          p Does not mount routes in application
      .col
        article.item-9
          i.icon-budicon-717
          p Lightweight code base

      .col.hide
        article.item-9
          i.icon-budicon-717
          p Lightweight code base
