extends layout

include mixins
include mixins/app
include mixins/social

block content
  .home
    h1
      img(src="/images/PassportJS.svg")
    h2 Simple, unobtrusive authentication for Node.js
    +window("app.js — vim")
      .rw-wrapper
        .rw-sentence
          p passport.authenticate
            span.rw-words.rw-words-1
              each scheme in authenticationSchemes
                span(style='color: ' + scheme.color + ';') ('#{scheme.name}');

    |!{content}

    .strategies
      p #{packageCount}+ Strategies Now!
      a.btn(href='/packages/') View All Strategies
