extends layout

include mixins
include mixins/app

block content
  .package
    .readme
      |!{ readme }
    .metadata
      .vcard
        a(class='url', href=author.url)
          img(src=author.photo)
          span.nickname #{author.username}
