//-
  Sponsors layout
  
  https://developers.google.com/search/docs/advanced/guidelines/qualify-outbound-links
//-
extends layout

include mixins
include mixins/app
include mixins/social

block content

  section.sponsors
    .intro
      h1 Sponsors
      |!{content}
      
    .gold
      .item
        a(rel='sponsored' href='https://workos.com/?utm_campaign=github_repo&utm_medium=referral&utm_content=passport_js&utm_source=github')
          img(src='workos.png')
          p
            b Your app, enterprise-ready.
            br
            | Start selling to enterprise customers with just a few lines of code. Add Single Sign-On (and more) in minutes instead of months.
      .item
        a(rel='sponsored' href='https://www.descope.com/?utm_source=PassportJS&utm_medium=referral&utm_campaign=oss-sponsorship')
          img(src='descope.svg')
          p
            b Drag and drop your auth
            br
            | Add authentication and user management to your consumer and business apps with a few lines of code.
      .item
        a(rel='sponsored' href='https://fusionauth.io/?utm_source=passportjs&utm_medium=referral&utm_campaign=sponsorship')
          img#fusionauth(src='fusionauth.png')
          p
            b Auth. Built for Devs, by Devs
            br
            | Add login, registration, SSO, MFA, and a bazillion other features to your app in minutes. Integrates with any codebase and installs on any server, anywhere in the world.
      .item
        a(rel='sponsored' href='https://stytch.com?utm_source=oss-sponsorship&utm_medium=paid_sponsorship&utm_campaign=passportjs')
          img(src='stytch.png')
          p
            b API-first AuthN, AuthZ, and Fraud Prevention
            br
            | The most powerful identity platform built for developers. Easily build and secure a modern auth flow with user & org management, multi-tenant SSO, MFA, RBAC, device fingerprinting, and more.
          
    .bronze
      .item
        a(rel='sponsored' href='https://altruistiq.com/')
          img(src='altruistiq.svg')
