.btn
  text-transform uppercase
  border-radius 60px
  padding 0 44px
  display block
  background green
  font-size 16px
  color black
  line-height 3.8
  height 60px
  max-width 277px
  border none
  font-weight: 500;
  &:hover
    background darken(green,20%)
