/**
 * Markdown Alert.
 *
 * Alerts emphasize critical information.  The are displayed with distinctive
 * colors and icons to indicate the significance of the content.
 *
 * Five different types of alerts are supported:
 *   - Note: Useful information that users should know, even when skimming content.
 *   - Tip: Helpful advice for doing things better or more easily.
 *   - Important: Key information users need to know to achieve their goal.
 *   - Warning: Urgent info that needs immediate user attention to avoid problems.
 *   - Caution: Advises about risks or negative outcomes of certain actions.
 *
 * Example HTML:
 *
 * <div class="markdown-alert markdown-alert-note">
 *   <p class="markdown-alert-title">
 *     <svg class="octicon octicon-info mr-2" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
 *       <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path>
 *     </svg>Note
 *   </p>
 *   <p>Useful information that users should know, even when skimming content.</p>
 * </div>
 *
 * [Alerts][1] are often written in Markdown, as an extension based on the
 * blockquote syntax.
 *
 * Alerts are [supported by GitHub][2] as of 2023-12-14.  Refer to the
 * [discussion][3] for a history of changes regarding this extension.
 *
 * Example Markdown:
 *
 * > [!NOTE]
 * > Useful information that users should know, even when skimming content.
 *
 * [1]: https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#alerts
 * [2]: https://github.blog/changelog/2023-12-14-new-markdown-extension-alerts-provide-distinctive-styling-for-significant-content/
 * [3]: https://github.com/orgs/community/discussions/16925
 */

.markdown-alert {
  border-left-width: 3px
  border-left-style: solid
  x-background-color: white
  margin-bottom: 16px
  padding: 8px 16px
}

.markdown-alert.markdown-alert-note {
  border-color: #2d68d3
}

.markdown-alert .markdown-alert-title {
  font-weight: 500
  display: flex
  align-items: center
  line-height: 1
}

.markdown-alert > :first-child {
  margin-top: 0
}

.markdown-alert > :last-child {
  margin-bottom: 0
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #2d68d3
}

.markdown-alert.markdown-alert-tip {
  border-color: #3d7d3f
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #3d7d3f
}

.markdown-alert.markdown-alert-important {
  border-color: #7b53d7
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #7b53d7
}

.markdown-alert.markdown-alert-warning {
  border-color: #b7892d
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #b7892d
}

.markdown-alert.markdown-alert-caution {
  border-color: #be3536
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #be3536
}

.octicon {
  fill: currentColor
}
