.markdown-alert {
  border-left-width: 3px
  border-left-style: solid
  x-background-color: white
}

.markdown-alert.markdown-alert-note {
  border-color: #2d68d3
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #2d68d3
}

.markdown-alert.markdown-alert-tip {
  border-color: #3d7d3f
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #3d7d3f
}

.markdown-alert.markdown-alert-important {
  border-color: #7b53d7
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #7b53d7
}

.markdown-alert.markdown-alert-warning {
  border-color: #b7892d
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #b7892d
}

.markdown-alert.markdown-alert-caution {
  border-color: #be3536
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #be3536
}

.octicon {
  fill: currentColor
}




// https://getbootstrap.com/docs/5.2/components/alerts/
// https://about.gitlab.com/handbook/markdown-guide/#warnings
.alert {
  padding: 10px
  margin-bottom: 20px
  border-width: 1px
  border-style: solid
  border-radius: 3px;
}

.alert:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 6px 2px 0 0;
}

.alert-success {
  color: black;
  background-color: #c9edd2;
  border-color: #68FF8C;
}

// https://feathericons.com/?query=circle-check
.alert-success:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check-circle'%3E%3Cpath d='M22 11.08V12a10 10 0 1 1-5.93-9.14'%3E%3C/path%3E%3Cpolyline points='22 4 12 14.01 9 11.01'%3E%3C/polyline%3E%3C/svg%3E") no-repeat;
}

.alert-danger {
  color: black;
  background-color: #ffb3b3;
  border-color: #ff3333;
}

// https://feathericons.com/?query=alert-octagon
.alert-danger:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-octagon'%3E%3Cpolygon points='7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2'%3E%3C/polygon%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E") no-repeat;
}

.alert-warning {
  color: black;
  background-color: #FFFFE7;
  border-color: #FFFF35;
}

// https://feathericons.com/?query=alert-triangle
.alert-warning:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-triangle'%3E%3Cpath d='M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z'%3E%3C/path%3E%3Cline x1='12' y1='9' x2='12' y2='13'%3E%3C/line%3E%3Cline x1='12' y1='17' x2='12.01' y2='17'%3E%3C/line%3E%3C/svg%3E%0A") no-repeat;
}

.alert-info {
  color: black;
  background-color: #E6FFFF;
  border-color: #34EAFF;
}

// https://feathericons.com/?query=info
.alert-info:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-info'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='16' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12.01' y2='8'%3E%3C/line%3E%3C/svg%3E") no-repeat;
}
